# Archivos generados por Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.venv/
*.DS_Store
*.egg-info/
*.coverage
.coverage.*
*.mypy_cache/
*.pytest_cache/
# Archivos temporales del servidor
*.pid
*.db
*.sqlite
*.env
instance/
.env.*
.vscode/
.idea/
# Node.js
node_modules/
npm-debug.log
yarn-error.log
*.log
package-lock.json
yarn.lock
dist/
# Git files
*.bak
*.swp
*.swo
*.swn
# Archivos generados por sistemas operativos
Thumbs.db
.DS_Store
