---

---

<header>
    <div class="container">
        <nav class="font-display pr-2 pl-2">
            <ul class="nav flex" role="list">
                <li class="w-fit flex-initial">
                    <a>
                        CONTACT ME : <a href="mailto:ronnycompartist@gmail.com"
                            >RONNYCOMPARTIST@GMAIL.COM</a
                        >
                    </a>
                </li>
                <li class="nav_li w-64 flex-1"></li>
                <li class="nav_liw-64 flex-1"></li>
                <li class="w-64 flex-1"></li>
                <li class="w-44 flex-1">
                    <p>
                        PYTHON DEVELOPER AND DIGITAL ARTIST, MEXICAN BASED IN
                        MONTREAL, QC WORKING IN VFX INDUSTRY AND NOW IN
                        TECHNOLOGY INDUSTRY TO GRAB THE ART MATCH CODE.
                    </p>
                    <div></div>
                </li>
            </ul>
        </nav>
    </div>
</header>
<header>
    <div
        class="container mx-auto flex min-h-screen items-center justify-center"
    >
        <div class="flex flex-row items-center space-y-3">
            <div class="flex flex-col p-1">
                <p class="flex flex-col p-2 relative -left-10 -top-30">
                    <span>ARTIST &</span>
                    <span>DEVELOPER</span>
                    <span></span>
                </p>
                <p class="relative -left-10">CREATIVE</p>
            </div>
            <div class="flex flex-col p-2">
                <img
                    src="./profile.jpg"
                    class="size-45 aspect-2/3 grayscale rounded-t-lg"
                />
                <p class="underline decoration-pink-500 animate-pulse">
                    [ 11111989 ]
                </p>
            </div>
            <div class="flex flex-col p-2">
                <p class="flex flex-col p-2 relative top-30">
                    <span>CINEMATOGRAPHER</span>
                </p>
            </div>
        </div>
    </div>
</header>
<header class="font-display">
    <footer class="footer">
        <div class="mx-auto grid grid-flow-col grid-rows-1 gap-6 pr-2 pl-2">
            <p>&copy; {new Date().getFullYear()} RONNY ASCENCIO</p>

            <p class="text-center">KEEP IT SIMPLE</p>
            <p class="text-center">BE CONSTANT</p>
            <p class="text-right transition delay-150 duration-300 ease-in-out">
                <a
                    class="m-1 underline decoration-green-500"
                    href="https://github.com/ronnyascencio">GITHUB</a
                >
                <a
                    class="m-1 underline decoration-green-500"
                    href="https://www.linkedin.com/in/ronnyascencio/"
                    >LINKEDIN</a
                >
            </p>
        </div>
    </footer>
</header>
<style>
    body {
    }
    h1 {
        font-size: xx-large;
    }
    h4 {
        font-size: medium;
    }
    h6 {
        font-size: small;
    }
    p {
        font-size: x-small;
    }
    a {
        font-size: x-small;
    }
</style>
