<body>
    <main class="login-container">
        <form id="loginForm" class="login-form flex flex-col items-center p-2">
            <h1>Login</h1>

            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    autocomplete="username"
                    class="bg-gray-500 rounded-sm"
                />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    autocomplete="current-password"
                    class="bg-gray-500 rounded-sm"
                />
            </div>

            <button type="submit" id="submitBtn" class="login-button"
                >Submit</button
            >

            <div id="errorMessage" class="error-message"></div>
        </form>
    </main>
</body>
<style>
    body {
    }
    h1 {
        font-size: xx-large;
    }
    h4 {
        font-size: medium;
    }
    h6 {
        font-size: small;
    }
    p {
        font-size: x-small;
    }
    a {
        font-size: x-small;
    }
</style>
