<footer>
    <div>
        <h1>Footer</h1>
        <h4>Footer</h4>
        <h6>Footer</h6>
        <p>Footer</p>
        <a href="#">Footer</a>
    </div>
</footer>
<style>
    body {
    }
    h1 {
        font-size: xx-large;
    }
    h4 {
        font-size: medium;
    }
    h6 {
        font-size: small;
    }
    p {
        font-size: x-small;
    }
    a {
        font-size: x-small;
    }
</style>
